.content{
	width: 1200px;
	margin: 0 auto;
}
.content_anli1{
	width: 100%;
	height: 887px;
	position: relative;
}
.content_anli1_litem{
	width: 471px;
	height: 445px;
	margin-left: 98px;
	border: 2px solid #e4e4e4;
	float: left;
	position: relative;
}
.content_anli1_litem_img{
	width: 471px;
	height: 342px;
	position: relative;
	float: left;
}
.content_anli1_litem_img img{
	width: 471px;
	height: 342px;
}
.content_anli1_img2{
	width: 80px;
	height: 80px;
	background-color: #fefefe;
	position: absolute;
	left: 28px;
	bottom: 60px;
	border-radius: 50%;
	float: left;
}
.content_anli1_img2 img{
	margin-top: 7px;
	margin-left: 7px;
	width: 68px;
	height: 68px;
}
.content_anli1_wenzi{
	width: 351px;
	height: 103px;
	float: right;
	position: relative;
}
.content_anli1_wenzi span{
	font-size: 14px;
	color: #e5e5e7;
	margin-right: 15px;
}
.content_anli1_wenzi_line{
	width: 330px;
	height: 1px;
	background-color: #dcdcdc;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content_anli1_wenzi_line1{
	width: 93px;
	height: 1px;
	float: left;
	background: #1b1b1b;

}
.content_anli1_wenzi h1{
	font-size: 12px;
	width: 250px;


}
.content_anli1_jiahao{
	width: 28px;
	height: 28px;
	border: 2px solid #dcdcdc;
	margin-left: 418px;
	margin-top: 390px;
	position: absolute;
	line-height: 28px;
	text-align: center;
	/* top: 0;
	left: 0; */
}
.content_anli1_jiahao h1{
	line-height: 18px;
	font-size: 28px;	
}
.content_anli_ritem{
	width: 233px;
	height: 344px;
	margin-left:36px;
	float: left;
	border:2px solid #e4e4e4;
	position: relative;
	margin-bottom: 50px;
}
.content_anli_ritem1{
	position: absolute;
	top: 479px;
	left: 62px;
}
.content_anli_ritem2{
	position: absolute;
	top: 479px;
	left: 336px;
}
.content_anli_ritem_img {
	width: 100%;
	height: 230px;
}
.content_anli_ritem_img img{
	width: 100%;
	height: 230px;
}
.content_anli1_btn{
	width: 83px;
	height: 83px;
	background-color: #fff;
	position: absolute;
	left: 16px;
	top : 190px;
	border-radius: 50%;
}
.content_anli1_btn img{
	width: 70px;
	height: 70px;
	margin-top: 7px;
	margin-left: 7px;

}
.content_anli_ritem h1{
	font-size: 11px;
	color: #2a6d8a;
	font-weight: 800;
	margin-left: 113px;
	margin-top: 14px;
}
.content_anli1_ritem_line{
	width: 198px;
	height: 1px;
	background-color: #bec9cf;
	margin-top: 20px;
	margin-left: 16px;
}
.content_anli_ritem h2{
	font-size: 12px;
	width: 170px;
	margin-top: 10px;
	margin-left: 16px;

}
.content_img{
	width: 1349px;
	height: 364px;
	background: pink;
	margin: 0 auto;
}
.content_img_left{
	width: 652px;
	height: 100%;
	float: left;
}
.content_img_left img{
	width: 652px;
	height: 100%;
}
.content_img_right{
	width: 697px;
	height: 100%;
	background-color: #2b6c8c;
	float: left;

}
.content_img_ritem{
	width: 388px;
	height: 312px;
	background-color: #2b6c8c;
	float: left;
	padding-top: 52px;
	padding-left: 45px;
}
.content_img_ritem h1{
	font-size: 14px;
	color: #fff;
	line-height: 14px;
}
.content_img_right img{
	position: relative;
	right: -182px;
    bottom: 292px;
    opacity: 0.2;
}
.content_img_right h2{
	font-size: 28px;
	font-weight: 400;
	color: #fff;
	width: 328px;
	line-height: 28px;
	margin-top: 20px;
}
.content_img_right h3{
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	line-height: 20px;
	margin-top: 16px;
}
.content_img_right h4{
	font-size: 12px;
	color: #4e4830;
	line-height: 12px;
	margin-top: 108px;
}
.content2{
	width: 1200px;
	margin: 0 auto;

}
.content2_top{
	width: 100%;
	height: 127px;
	padding-top: 60px;
}
.content2_top_img{
	width: 280px;
	height: 60px;
	margin-left: 459px;
}
.content2_top h1{
	font-size: 22px;
	text-align: center;
	font-weight: 400;
}
.content2_daohang{
	width: 450px;
	height: 30px;
	overflow: hidden;
	margin: 0 auto;
}
.content2_daohang h1{
	font-size: 12px;
	font-weight: 800;
	float: left;
	margin-right: 42px
}
.content2_daohang_line{
	width: 63px;
	height: 4px;
	background-color: #e5e5e5;
	margin-top: 24px;
}
.content2_daohang_line2{
	width: 14px;
	height: 4px;
	background-color: #50849c;
}
.content2_bottom{
	width: 1100px;
	margin-top: 46px;
	padding-left: 100px;
}
.content2_bottom_item{
	width: 312px;
	height: 310px;
	border: 2px solid #e4e4e4;
	background: #fff;
	float: left;
	margin-right: 18px;
	margin-bottom: 24px;
}
.content2_bottom_item_img{
	width: 312px;
	height: 163px;
}
.content2_bottom_item_img img{
	width: 310px;
	height: 163px;
	margin-left: -1px;
}
.content2_bottom h1{
	font-size: 20px;
	margin-left: 22px;
	margin-top: 22px;
	color: #404040;
	line-height: 20px;
	width: 310px;
}
.content2_bottom h2{
	font-size: 12px;
	margin-left: 22px;
	margin-top: 19px;
	margin-bottom: -10px;
	line-height:40px;
	color: #a7a7a7;
}
.content2_bottom_item_ren{
	width: 40px;
	height: 40px;
	background-color: #e4e6e3;
	margin-left: 22px;
	margin-top: 22px;
	border-radius: 50%;
	position: relative;
	float: left;
	
}
.content2_bottom_item_ren img{
	width: 33px;
	height: 40px;
	position: absolute;
	top: -4px;
	left: 3.5px;
	
}
.content2_bottom_item h3{
	font-size: 11px;
	color: #a7a7a7;
	margin-top: 35px;
	margin-left: 12px;
	float: left;
}
.content2_bottom_item h5{
	font-size: 11px;
	color: #2b6c8c;
	margin-top: 35px;
	margin-left: 12px;
	float: left;
	font-weight: 600;
}
.content2_item_anniu{
	width: 25px;
	height: 25px;
	background: #000;
	float: left;
	margin-left: 48px;
	margin-top: 28px;
	line-height: 25px;

}
.content2_item_anniu span{
	color: #fff;
	text-align: center;
	display: block;
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	

}
