@font-face {
  font-family: 'iconfont';  /* project id 571231 */
  src: url('https://at.alicdn.com/t/font_571231_mhrxshozaaif6r.eot');
  src: url('https://at.alicdn.com/t/font_571231_mhrxshozaaif6r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571231_mhrxshozaaif6r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571231_mhrxshozaaif6r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571231_mhrxshozaaif6r.svg#iconfont') format('svg');
}

body{
	background: #fff;
}
.head{
	width: 100%;
	height: 80px;
	background: #fafafa;
}
.head1{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	/* background: pink; */
	overflow: hidden;
}
.logo{
	width: 103px;
	height: 59px;
	margin-top: 9px;
	margin-left: 9px;
	/* background: aliceblue; */
	float: left;
}
.line{
	width: 56px;
	height: 59px;
	float: left;
}
.line1{
	width: 6px;
	height: 15px;
	background: #2b6c8c;
}
.line2{
	width: 50px;
	height: 6px;
	background: #2b6c8c;
}
.line33{
	height: 32px;
}
.line3{
	float: left;
	width: 6px;
	height: 31px;
	background: #2b6c8c;
	margin-left: 13px;
}
.line4{
	margin-top: 1px;
	margin-left: 13px;
}
.line5{
	width: 36px;
	height: 6px;
	background: #2b6c8c;
	margin-left: 2px;
}
.logo_wenzi{
	font-size: 20px;
	color: #2b6c8c;
	margin-top: 8.5px;
}
.head1_wenzi{
	width: 586px;
	height: 28px;
	margin-left: 282px;
	margin-top: 24px;
	/* background: lightyellow; */
}
.head1_wenzi a{
	font-size: 14px;
	color: #000;
	margin-right: 35px;
}
#head1_wenzi1{
	position: relative;
	color: rgb(43, 108, 140);
}
.head1_wenzi_line{
	position: absolute;
	left: -8px;
	top: 0;
	width: 8px;
	height: 8px;
	border-width: 1px 0 0 1px;
	border-style:solid;
	border-color: rgb(43, 108, 140); 
	float: left; 
}
.line_right{
	position: absolute;
	right: -8px;
	bottom: 0;
	width: 8px;
	height: 8px;
	border-width:0 1px 1px 0;
	border-style:solid;
	border-color: rgb(43, 108, 140); 
}
.search{
	width: 170px;
	height: 24px;
	border: 1px solid #bfbfbf;
	border-radius: 20px;
	margin-right: 40px;
	margin-top: -26px;
	float: right;
}
.head1 span{
	font-family: 'iconfont';
	font-size: 12px;
	color: #000;
	margin-right: 48px;
	margin-top: -22px;
	float: right;
}
.banner{
	height: 540px;
}
.banner img{
	width: 100%;
	height: 540px;
}
.sy_content{
	width: 1200px;
	/* background: red; */
	margin: 0 auto;
}
.sy_content_top{
	width: 424px;
	height: 122px;
	margin: 40px auto;
	/* background: skyblue; */
}
.sy_content_top_left{
	width: 98px;
	height: 122px;
	font-size: 24px;
	padding-top: 42px;
	float: left;
}
.sy_content_top_left span{
	font-weight: bolder;
	color: #2c6b8a;
	float: right;
}
.sy_content_top_left p{
	color: #56829b;
	float: right;
}
.sy_content_top_center{
	width: 103px;
	height: 103px;
	border: 1px solid #387393;
	margin:20px 34px;
	float: left;
	font-size: 28px;
	color: #2c2c2c;
	font-weight: bold;
	/* 设置字间距 */
	letter-spacing: 6px;
	text-align: center;
	line-height: 51.5px;
	position: relative;
}
.sy_content_top_center span{
	font-family: 'iconfont';
	font-size: 34px;
	color: #2a6b8b;
	position: absolute;
	top: -20px;
	right: -20px;
	background: #fff;
}
.sy_content_top_right{
	width: 144px;
	height: 65px;
	float: right;
	margin-top: 39px;
	/* margin-right: 20px; */
	/* background: limegreen; */
}
.sy_content_top_right span{
	font-size: 14px;
	color: #ababab;
}
.sy_content_top_right p{
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}
.sy_content_img img{
	width: 370px;
	height: 370px;
	border: 1px solid #cdcdcd;
}
.sy_content_img2{
	margin:0 40px;
}
.sy_content_img3{
	margin-top: 30px;
}
.sy_content_anli{
	width: 1200px;
	height: 358px;
	/* background:yellow; */
	position: relative;
}
.sy_content_anli img{
	width: 484px;
	height: 300px;
	margin-left: 86px;
}
.sy_content_jiantou{
	position: absolute;
	bottom: 40px;
	left: 450px;
	width: 80px;
	height: 40px;
	background: #2b6c8c;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}
.sy_content_jiantou p{
	width: 40px;
	background: #000;
	float: left;	
}
.sy_content_anli2{
	width: 481px;
	height: 312px;
	/* background: green; */
	float: right;
	margin-right: 86px;
}
.title{
	height: 75px;
	line-height: 75px;
	color: #000;
}
.title p{
	font-weight: bold;
	font-size: 36px;
	float: left;
}
.title span{
	font-size: 30px;
	margin-left: 28px;
}
.title2{
	width: 326px;
	color: #3e3e3e;
	font-size: 16px;
}
.gd{
	width: 481px;
	height: 25px;
	border-bottom: 1px solid #b2b2b2;
}
.gd_more{
	width: 48px;
	height: 25px;
	border-bottom: 2px solid #2b6c8c;
	font-weight: bold;
	font-size: 10px;
	line-height: 25px;
	color: #2b6c8c;
	float:right;
}
.gd span{
	font-family: 'iconfont'; 
	font-size:25px;
	color:#2b6c8c;
	line-height: 25px;
	text-align:center;
	float:right;
}
.gd_zhnegwen{
	width: 481px;
	font-size: 14px;
	margin-top: 20px;
}
.sy_content_tuandui{
	width: 100%;
	height:413px;
	background:#235975;
	float: left;
}
.tuandui_title{
	width: 518px;
	height: 107px;
	/* background:red; */
	margin-left: 165px;
	margin-top: 75px; 
	color: #fff;
}
.tuandui_title h1{
	font-size:28px; 
	float:left; 
}
.tuandui_title_more{
	width: 48px;
	height: 25px;
	color: #fff;
	font-weight:bold;
	font-size:10px;
	float: right;
	border-bottom: 2px solid #fff;
}
.tuandui_title span{
	font-family: 'iconfont';  
	font-size: 25px;
	float:right;
}
.sy_content_tuandui p{
	color: #fefffd;
	font-size:18px;
	margin-left: 165px;
	width: 518px;
}
.tuandui_renwu{
	width:1200px;
	/* height:500px;  */
	margin-left:125px;
	margin-top:70px;
	/* background:green; */
}
.tuandui_renwu ul li{
	float: left;
	width: 119px;
	margin-left:40px;
	border-top: 3px solid #AEC4D2;
}
.tuandui_renwu img{
	width: 119px;
	height: 179px;
}
.tuandui_renwu p{
	width: 119px;
	color: #cccccc;
	font-size:10px;
	margin-top:20px;
	margin-left:0;  
}

.tuandui_img{
	width:468px;
	height: 650px;
	float: right;
	margin-top: -648px;
	margin-right:122px; 
}
.tuandui_img img{
	width:468px;
	height: 650px;
}
.clear{
	clear: both;
}
.ditu{
	width: 100%;
	height: 520px;
	background:#235975;
	margin-top: 187px;
	float: left;
}
.ditu_center{
	width: 1000px;
	height: 370px;
	margin:72px auto;
	/* background:red; */
}
.ditu_img{
	width: 1000px;
	height: 160px;
	background:url('../img/ditu.jpg');
}
.ditu_img2{
	position: relative;
	width: 360px;
	height:70px; 
	margin:0 auto;
	padding-top: 41px;
}
.ditu_img_wwenzi{
	width: 296px;
	height: 70px;
	border-radius:8px;
	background:#2b6c8c;
	color: #fff;
	font-size: 14px; 
}
.ditu_img_wwenzi p{
	letter-spacing:4px; 
	margin-left: 52px;
	padding-top:11px;
}
.ditu_img_wwenzi span{
	margin-left: 52px;
	line-height: 37px;
}
.ditu_img3{
	font-family: 'iconfont';
	float: left;
	color:#2b6c8c;
	font-size:39px;
	line-height: 70px; 
	position: absolute;
	left:-64px;
}
.dibu{
	font-size:14px;
	margin-top:43px; 

}
.luiyan{
	margin-right:70px;
	color: #a3a3a3; 
	width:384px;
	height:167px;
	/* background:yellow;  */
	float:left;
	position: relative;
}
.luiyan input{
	width: 184px;
	height:30px;
	border:0;
	padding-left:20px; 
}
.luiyan1{
	margin-right:11px;
}
.luiyan .luiyan2{
	width:384px;
	height:126px; 
	margin-top:11px;
	padding-bottom: 96px;
}
.gd2{
	width:430px;
	border: 1px;
	position: absolute;
	right:17px;
	bottom:12px;
}
.more_content{
	margin-right:90px;
	color: #fff;
	float:left;
}
.more_content,.meiti{
	font-size:14px;
	color: #fff;
	float:left;
}
.more_content span,.meiti span{
	font-size: 9px;
	color: #7e94a2;
	float:left;
	/* margin-top:7px; */
}
.more_content ul{
	margin-top:23px; 
}
.more_content ul li{
	height:102px;
	line-height: 33px;
	float: left;
}
.more_content_li{
	margin:0 65px;
}
.more_content ul li p:hover{
	color: #aec4d2;
}
.icon_tu_yuan{
	width: 30px;
	height: 30px;
	border-radius:50%;
	background:#fff;
	margin-top: 36px;
	margin-bottom: 27px;
	text-align: center;
	float: left;
}
.icon_tu_yuan2{
	margin-left:34px;
	margin-right: 34px;
}
.icon_tu i{
	line-height: 30px;
	font-family:'iconfont';
	font-size:15px;
	color:#7f7f7f;
}
.meiti{
	width: 158px;
	color: #fff;
	float:left;
}
.footer{
	width: 100%;
	height: 56px;
	text-align: center;
	color: #7b7b7b;
	background: #191919;
	float: left;
	font-size:12px;
}
.footer p{
	margin-top: 14px;
}
.tuandui_renwu ul li:hover{
	border-top: 3px solid #f5c813;
	color: #000;
}
.tuandui_renwu ul li:hover p{
	color: #000;
}
